

#app {
    border: 2px solid;
    margin: 20px 50px;
    position: relative;
    padding: 0 0 20px 0;
    background-color: #E8F3F8;
}

#app div {
    text-align: center
}

.header {
    background-color: #81A8B8;
    padding: 20px 0;
    margin: 0;
}

.listSodas li {
    display: inline;
}

.history {
    background-color: #81A8B8;
}

button {
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #C2CBCE;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 32px;
    border: 1px solid #81A8B880;
    background-color: #81A8B8;
    margin: 10px 0;
}

button:disabled {
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #C2CBCE;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 32px;
    border: 1px solid #81A8B840;
    background-color: #81A8B850;
    margin: 10px 0;
}

ul { 
    list-style: none;
    text-align: left;
    padding: 0 100px;
}