

#app {
    border: 2px solid;
    margin: 20px 50px;
    position: relative;
    padding: 0 0 20px 0;
    background-color: #C3F0B8;
}

#app div {
    text-align: center
}

.header {
    background-color: #C3E6B5;
    padding: 20px 0;
    margin: 0;
}

.listSodas li {
    display: inline;
}

button {
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #919E92;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 32px;
    border: 1px solid #B8BAB9;
    background-color: #DBDDDC;
    margin: 10px 0;
}

button:disabled {
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #E8F4F3;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 32px;
    border: 1px solid #B8BAB9;
    background-color: #D3E5D4;
    margin: 10px 0;
}